---
import { FaLinkedin } from "react-icons/fa";
import type { HomeSection } from "../../../types";
import SectionHeader from "../SectionHeader.astro";
import Social from "./Social.astro";
import { FaSquareGithub, FaSquareUpwork } from "react-icons/fa6";
import { MdEmail } from "react-icons/md";
import Form from "./Form.astro";

interface Props extends HomeSection {}
const { sectionNumber } = Astro.props;
---

<section class="relative px-2 sm:px-0">
    <SectionHeader sectionNumber={sectionNumber} title={"Get In Touch"} />
    <div>
        <div class="grid lg:grid-cols-2 gap-12">
            {/* Left side - contact info */}
            <div class="space-y-6">
                <div class="border-2 p-6 bg-paper-dim relative">
                    {/* Corner bracket */}
                    <div
                        class="absolute -top-3 -left-3 w-8 h-8 border-t-4 border-l-4 border-[#8b6f47]"
                    >
                    </div>
                    <div
                        class="absolute -bottom-3 -right-3 w-8 h-8 border-b-4 border-r-4 border-[#8b6f47]"
                    >
                    </div>

                    <p class="text-[#4a3d2a] mb-6 leading-relaxed">
                        I'm always interested in hearing about new projects and
                        opportunities. Whether you have a question or just want
                        to say hi, feel free to reach out!
                    </p>

                    <div class="space-y-4">
                        <Social
                            Icon={MdEmail}
                            socialMedia="Email"
                            handle="ezra@ezramagaram.com"
                            url="mailto:ezra@ezramagaram.com"
                        />
                        <Social
                            Icon={FaLinkedin}
                            socialMedia="LinkedIn"
                            handle="/in/ezra-magaram"
                            url="https://www.linkedin.com/in/ezra-magaram/"
                        />
                        <Social
                            Icon={FaSquareGithub}
                            handle="@emagaram"
                            socialMedia="Github"
                            url="https://github.com/emagaram"
                        />
                        <Social
                            Icon={FaSquareUpwork}
                            handle="ezra-magaram"
                            socialMedia="Upwork"
                            url="https://www.upwork.com/freelancers/ezramagaram"
                        />
                    </div>
                </div>
            </div>

            {/* Right side - contact form */}
            <Form />
        </div>
    </div>
</section>
